body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(226, 226, 226);
    overflow-x: hidden;
}
.backround{
    background-color: rgb(226, 226, 226);
}
.nav-about {
    background-color: rgb(88, 47, 215);
}

.header-logo{
    width: 150px;
}

.brg-menu {
    width: 255px;
    height: 100vh;
    position: fixed;
    z-index: 101;
    background-color: #361e74;
    transition: 0.4s ease-in-out;
    right: -255px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.brg-menu2 {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: #736db9;
    transition: 0.3s ease-out;
    right: -300px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-btn {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 30px;
    right: 25px;
}
.mobile-btn-off {
    max-height: 50px;
}

.fa-buns {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    transition: 0.2s ease-in-out;
    display: none !important;
}
.fa-buns {
    color: white;
}
.fa-buns:hover {
    color: #736db9;
    cursor: pointer;
}
.fa-xmark {
    align-self: flex-end;
    margin-right: 1.4rem;
    margin-top: 1.5rem;
    color: white;
    transition: 0.2s ease-in-out;
}

.fa-xmark:hover {
    color: #736db9;
    cursor: pointer;
}

.nav-mobile {
    margin-top: 3rem;
    margin-left: 2rem;
}
.header-div {
    background-color: rgb(226, 226, 226);
}

.read-more{
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}

.divider {
  opacity: 0;
  max-height: 0;
  width: 31.25rem;
  margin-top: 4rem;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}
.table-icons {
    width: 15px !important; 
    display: inline !important;
    color: rgb(255, 255, 255) !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.txt-position{
    padding-left: 5vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(226, 226, 226);
}

.paragraph{
    display: flex;
    height: 3.125rem;
    width: 31.25rem;
    display: block;
    text-align: left;
}

.h1{
    display: flex;
    display: absolute;
    width: 12.5rem;
    text-align: center;
    padding-left: -20rem;
}


/* used in all of the pages */
.button{
    margin: auto;
    display: absolute;
    margin-top: 6rem;
    width: 12.188rem;
    height: 3.5rem;
    border-radius: 0.375rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

footer {
    margin-top: 10rem;
    width: 100vw;
    height: 52rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {

    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}


/* media pc */

/* media tablet */
@media(max-width: 1440px){

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
    

nav{
    width: 550px;
    margin-top: 1px;
    margin-right: 0;
}

.nav-links{
    font-size: 15px;
}

.img{
    margin-top: 7rem;
}

.paragraph{
    display: flex;
    height: 3.125rem;
    width: 31.25rem;
    display: block;
    text-align: left;
}

.h1{
    display: flex;
    width: 12.5rem;
    text-align: center;
    padding-left: -20rem;
}

.button{
    display: absolute;
    margin-top: 5rem;
    width: 12.188rem;
    height: 3.5rem;
    background-color: #582fd7;
    border-radius: 0.375rem;
    color: white;
    cursor:pointer;
    border: none;
}


footer {
    margin-top: 20rem;
    width: 100vw;
    height: 52rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {

    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}


}
@media(max-width: 768px){
    

nav{
    display: none;
}
.nav-links{
    font-size: 20px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.fa-solid{
    display: block !important;
    margin-left: 85vw;
    transform: translateY(1.1rem);
    font-size: 30px;
}

.img{
    margin-top: 7rem;
}

.paragraph{
    font-size: 1rem;
    height: 5rem;
    width: 70.40vw;
    text-align: left;
    display: block;
}

.h1{
    font-size: 1.41rem;
    display: flex;
    display: absolute;
    width: 12.5rem;
    text-align: center;
    padding-left: -20rem;
}

.button{
    font-size: 1rem;
    position: absolute;
    margin-top: 3rem;
    margin-left: 21vw;
    width: 12.188rem;
    height: 3.5rem;
    background-color: #582fd7;
    border-radius: 0.375rem;
    color: white;
    cursor:pointer;
    border: none;
}

footer {
    margin-top: 20rem;
    width: 100vw;
    height: 55rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {

    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}

}


