
body{
    background-color: rgba(248,247,251,255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* media querry */

/* media pc */
@media(min-width:1440px){

.txt-position{
    width: 100px;
    height: 500px;
    padding-top: 5vw;
    padding-left: 50vw;
}

.img{
    display: flex;
    flex: auto;
    position: absolute;
    top: 5vw;
    left: 10vw;
}

.paragraph{
    display: flex;
    height: 50px;
    width: 500px;
    display: block;
    text-align: left;
}

.h1{
    display: flex;
    display: absolute;
    width: 200px;
    text-align: center;
    padding-left: -20rem;
}


/* used in all of the pages */
.button{
    margin: auto;
    display: absolute;
    margin-top: 5rem;
    width: 195px;
    height: 56px;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}
/* used in all of the pages */

}
/* media pc */

/* media tablet */
@media(min-width: 768px) and (max-width: 1439px){
    
    .txt-position{
    width: 100px;
    height: 500px;
    padding-top: 5vw;
    padding-left: 25vw;
}

.img{
    display: flex;
    flex: auto;
    position: absolute;
    top: 45vw;
    left: 25vw;
}

.paragraph{
    display: flex;
    height: 50px;
    width: 500px;
    display: block;
    text-align: left;
}

.h1{
    display: flex;
    display: absolute;
    width: 200px;
    text-align: center;
    padding-left: -20rem;
}

.button{
    display: absolute;
    margin-top: 5rem;
    width: 130px;
    height: 50px;
    background-color: rgba(88,47,215,255);
    border-radius: 10px;
    color: white;
    cursor:pointer;
}
}
/* media tablet */

/* media phone */
@media(max-width: 767px){
    
    .txt-position{
    width: 100px;
    height: 500px;
    padding-top: 5vw;
    padding-left: 25vw;
}

.img{
    display: flex;
    flex: auto;
    position: absolute;
    top: 45vw;
    left: 25vw;
}

.paragraph{
    display: flex;
    height: 50px;
    width: 500px;
    display: block;
    text-align: left;
}

.h1{
    display: flex;
    display: absolute;
    width: 200px;
    text-align: center;
    padding-left: -20rem;
}

.button{
    display: absolute;
    margin-top: 5rem;
    width: 130px;
    height: 50px;
    background-color: rgba(88,47,215,255);
    border-radius: 10px;
    color: white;
    cursor:pointer;
}
}
/* media phone */