body{
    overflow-x: hidden;
}

.nav-contact {
    background-color: rgb(88, 47, 215);
}

.header-logo{
    width: 150px;
}

.fa-solid{
    color: white;
    display: none !important;
}

.brg-menu {
    width: 255px;
    height: 100vh;
    position: fixed;
    z-index: 101;
    background-color: #361e74;
    transition: 0.4s ease-in-out;
    right: -255px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.brg-menu2 {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: #736db9;
    transition: 0.3s ease-out;
    right: -300px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-btn {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 30px;
    right: 25px;
}
.mobile-btn-off {
    max-height: 50px;
}

.fa-buns {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    transition: 0.2s ease-in-out;
    display: none !important;
}
.fa-buns {
    color: white;
}
.fa-buns:hover {
    color: #736db9;
    cursor: pointer;
}
.fa-xmark {
    align-self: flex-end;
    margin-right: 1.4rem;
    margin-top: 1.5rem;
    color: white;
    transition: 0.2s ease-in-out;
}

.fa-xmark:hover {
    color: #736db9;
    cursor: pointer;
}

.nav-mobile {
    margin-top: 3rem;
    margin-left: 2rem;
}
.header-div {
    background-color: white;
}
main {
    background-color: white;
}

.error{
    border: red 2px solid !important;
}

.error-text{
    display: none;
    font-size: 10px;
    margin-bottom: -1rem;
    color: red;
    font-family: "Poppins";
}

.table-icons {
    width: 15px !important; 
    display: inline !important;
    color: rgb(255, 255, 255) !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}


@media(min-width:1440px){
h1{
    font-size: 35px;
    line-height: 30px;
    text-transform: uppercase;
    color: #212222;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}

form{
    text-align: center;
    margin-top: 4rem;
}


input::placeholder{
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
}

#name, #number, #email, #message{
    box-sizing: border-box;
    padding-left: 2rem;
}

#submit1{
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 4rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

#name{
    width: 945px;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#number{
    width: 945px;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#email{
    width: 945px;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#message{
    width: 945px;
    height: 251px;
    box-sizing: border-box;
    border-radius: 28px;
    border: 0.95px solid #180552;
    padding-top: 2rem;
}

textarea::placeholder{
    position: absolute;
    transform: translateY(4.2rem);
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

footer {
    margin-top: 20rem;
    width: 100vw;
    height: 54rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
    transform: translateX(-3.2rem);
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {

    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}

#news-form{
    transform: translate(-1.5rem, -3rem);
}

}

@media(min-width: 768px) and (max-width: 1439px){
    h1{
    font-size: 35px;
    line-height: 30px;
    text-transform: uppercase;
    color: #212222;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}


nav{
    width: 550px;
    margin-top: 1px;
    margin-right: 0;
}

.nav-links{
    font-size: 15px;
}

form{
    text-align: center;
    margin-top: 4rem;
}
input::placeholder{
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
}

#name, #number, #email, #message{
    box-sizing: border-box;
    padding-left: 2rem;
}

#submit{
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 4rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

#name{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#number{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#email{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#message{
    width: 65vw;
    height: 251px;
    box-sizing: border-box;
    border-radius: 28px;
    border: 0.95px solid #180552;
    padding-top: 2rem;
}

textarea::placeholder{
    position: absolute;
    transform: translateY(4.2rem);
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

footer {
    margin-top: 20rem;
    width: 100vw;
    height: 50rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}
}

@media(max-width: 767px){
    h1{
    font-size: 35px;
    line-height: 30px;
    text-transform: uppercase;
    color: #212222;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
}


nav{
    display: none;
}

.fa-solid{
    display: block !important;
    margin-left: 85vw;
    transform: translateY(1.1rem);
    font-size: 30px;
}

form{
    text-align: center;
    margin-top: 4rem;
}
input::placeholder{
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
}

#name, #number, #email, #message{
    box-sizing: border-box;
    padding-left: 2rem;
}

#submit{
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 1rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

#name{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
}

#number{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
    margin-top: -1rem;
}

#email{
    width: 65vw;
    height: 57px;
    border-radius: 28px;
    border: 0.95px solid #180552;
    margin-top: -1rem;
}

#message{
    width: 65vw;
    height: 251px;
    box-sizing: border-box;
    border-radius: 28px;
    border: 0.95px solid #180552;
    padding-top: 2rem;
}

textarea::placeholder{
    position: absolute;
    transform: translateY(4.2rem);
    font-size: 17px;
    line-height: 27px;
    color: #3d3c3c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

footer {
    margin-top: 20rem;
    width: 100vw;
    height: 50rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg-table {
    width: 23rem;
    height: 30px;
}
.split {
    width: 6rem;
}
table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.head {
    font-weight: normal;
}

.table-txt {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto    
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1rem;
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}
}
