body {
    margin: 0;
    overflow-x: hidden;
}

.header-logo {
    font-size: 30px;
    color: #fdfeff;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    width: 600px;
    margin-left: 15vw;
    padding-top: 10px;
    text-decoration: none;
    float: left;
}

.logo {
    text-decoration: none;
}
header {
    height: 62.5rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.header-div {
    margin: 0;
    width: 100vw;
    height: 62.5rem;
    background-image: url("../img/bgwaves2.png");
    background-repeat: no-repeat;
    z-index: -1;
    /* background-size: 100vw;
    background-position-y: -300px; */
}

nav {
    width: 750px;
    float: right;
    margin-right: 3vw;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.nav-links {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";

    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.nav-links:hover {
    border: 1px rgb(116, 116, 116) solid;
    background-image: url(../img/whitebg.jpg);
    background: rgba(255, 255, 255, 0.3)
}

.nav-links:active {
    border: none;


}

.nav-home {
    background-color: rgb(88, 47, 215);
}

.home-text1 {
    width: 600px;
    height: 209px;
    font-size: 48px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    height: 150px;
    margin-bottom: 0;
}
.home-text2 {
    width: 470px;
    height: 39px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
}
.left {
    float: left;
    width: 600px;
    padding-top: 13rem;
    padding-left: 15vw;
}
.right {
    float: right;
    margin-top: 10rem;
    margin-right: 20vw;
}

.highlight {
    color: #fbb03b;
    width: 600px;
    height: 209px;
    font-size: 48px;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 0;
}

.home-image {
    width: 500px;
    height: 500px;
}

.button{
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    transition: 0.2s ease-in-out;
}
.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}
 
.arrows {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 50rem;
    gap: 1rem;
}
.fa-solid {
    text-align: center;
    color: white;
    transition: 0.2s ease-in-out;
}


.left-arrow {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(88, 47, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
    border-radius: 50%;
}
.right-arrow {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(88, 47, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
    border-radius: 50%;
}

.lr-h {
    transition: 0.2s ease-in-out;
}
.rr-h {
    transition: 0.2s ease-in-out;
}
.lr-h:hover {
    cursor: pointer;
}

.rr-h:hover {
    cursor: pointer;
}

.slide1 {
    display: inline;
    transition: 0.3s ease-in-out;
    
}
.slide2 {
    transform: translateX(300px);
    opacity: 0.0;
    display: none;
    transition: 0.3s ease-in-out;
}
.slide3 {
    transform: translateX(300px);
    opacity: 0.0;
    display: none;
    transition: 0.3s ease-in-out;
}
.slide4 {
    transform: translateX(300px);
    opacity: 0.0;
    display: none;
    transition: 0.3s ease-in-out;
}

footer {
    width: 100vw;
    height: 55rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg-table {
    width: 23rem;
}

.split {
    width: 6rem;
}

table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.cp-tr {
    height: 6rem;
}
.head {
    font-weight: normal;
}

.instagram{
    margin-left: 1.4rem;
}

.table-txt1 {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 245px;
    transform: translateY(-4rem);
}

.table-txt2 {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 215px;
    transform: translateY(-4rem);
    margin-left: -0.6rem;
}

.reg-table1{
    height: 5px;
}


.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}


.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto;    
}

.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.divider.show {
  opacity: 1;
  max-height: 600px;
}

.fa-brands {
    margin-left: 1.5rem;
    transform: translate(-1rem, -2rem)
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {
    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}

#news-form{
    margin-top: -2rem;
}