body {
    margin: 0;
}

.header-logo {
    font-size: 30px;
    color: #fdfeff;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    width: 300px;
    margin-left: 5vw;
    padding-top: 10px;
    text-decoration: none;
    float: left;
}

.logo {
    text-decoration: none;
}
header {
    height: 62.5rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.header-div {
    margin: 0;
    width: 100vw;
    height: 62.5rem;
    background-image: url("../img/test3.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -300px;
}

nav {
    width: 650px;
    float: right;
    margin-right: 10vw;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.nav-links {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";

    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.nav-links:hover {
    border: 1px rgb(116, 116, 116) solid;
    background-image: url(../img/whitebg.jpg);
    background: rgba(255, 255, 255, 0.3)
}

.nav-links:active {
    border: none;


}

.nav-home {
    background-color: rgb(88, 47, 215);
}
