.nav-service {
    background-color: rgb(88, 47, 215);
}

body{
    margin: auto;
    overflow-x: hidden;
}

.table-size{
    width: 500px;
    
}
.pls-help-im-going-to-kill-myself{
    height: 5px;
    width: 5px;
}
.hui{
    margin-top: 50px;
}
.brg-menu {
    width: 255px;
    height: 100vh;
    position: fixed;
    z-index: 101;
    background-color: #361e74;
    transition: 0.4s ease-in-out;
    right: -255px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.brg-menu2 {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: #736db9;
    transition: 0.3s ease-out;
    right: -300px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-btn {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 30px;
    right: 25px;
}
.mobile-btn-off {
    max-height: 50px;
}
footer {
    background-color: white;
}
.fa-buns {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none !important;
    transition: 0.2s ease-in-out;
}
.fa-buns:hover {
    color: #736db9;
    cursor: pointer;
}
.fa-xmark {
    align-self: flex-end;
    margin-right: 1.4rem;
    margin-top: 1.5rem;
    color: white;
    transition: 0.2s ease-in-out;
}

.fa-xmark:hover {
    color: #736db9;
    cursor: pointer;
}

.nav-mobile {
    margin-top: 3rem;
    margin-left: 2rem;
}

.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  height: 30rem;
  flex-direction: row;
}
.divider.show {
  opacity: 1;
  max-height: 250rem;
}

.header-logo{
    width: 150px;
}

.fa-solid{
    color: white;
}

.reg-table {
    width: 23rem;
}

.split {
    width: 5rem;
    align-items: center;
    padding: 0.5rem;
}

table {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.tablet-center{
    width: 500px;
}
.cp-tr {
    height: 6rem;
}
.head {
    font-weight: normal;
}

.instagram{
    margin-left: 1rem;
}

.table-txt1 {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 245px;
    transform: translateY(-4rem);
}

.table-txt2 {
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 215px;
    transform: translateY(-4rem);
    margin-left: -1rem;
}

.reg-table1{
    height: 5px;
}


.table-icons {
    width: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
}

.nzn{
    margin-top: 30px;
}
.tech1 {
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    margin: auto;    
}
.tech2 {
    background-color: rgb(255, 255, 255);
    width: 75px !important;
    height: 75px !important;    
    margin: auto;   
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tech2 img {
  width: 75px !important;
  height: 75px !important; 
}
.divider {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.fa-brands {
    margin-left: 1.5rem;
    transform: translate(-1rem, -2rem)
}

.mail {
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.subscribe {
    margin-bottom: 1rem;
    width: 9rem;
    height: 3rem;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fffcf4;
    font-weight: 400;
    font-family: "Open Sans";
    transition: 0.2s ease-in-out;
}

.subscribe:hover {
    background-color: #421fad;
}

.right-tbl {
    margin-left: 5rem;
}

.cp-div {
    margin-top: 5rem;
    width: 40rem;
    height: 20rem;
}
.cp {
    text-align: center;
    font-size: 17px;    
    line-height: 26px;
    color: #fdfeff;
    font-weight: 400;
    font-family: "Raleway";
}

#news-form{
    margin-top: -2rem;
}

@media(min-width:1440px){
.tablet{
    display: none;
}
.phone{
    display: none;
}
footer {
    width: 100vw;
    height: 55rem;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   line-height: 30px;
   margin-top: 6.25rem;
}

.divider {
    width: 80rem;
}
.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80rem;
    gap: 2rem;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    min-height: 23.125rem;
    max-height: 35rem;
    text-align: center;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.child:hover{
  border-width: 5px;
  transform: scale(1.1,1.1)
}

.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    margin: auto;
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}


}

/* media tablet */
@media(min-width: 768px) and (max-width: 1439px){
.pc{
    display: none;
}
.phone{
    display: none;
}
.yes{
    width: 2.224vw;
    align-items: center;
    padding: 0.5rem;
}
.table-txt1 {
    padding-top: 40px;
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 245px;
    transform: translateY(-4rem);
}
.table-txt2 {
    font-size: 17px;

    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    width: 215px;
    transform: translateY(-4rem);
    margin-left: -1rem;
    margin-top: 40px;
}
footer {
    width: 100vw;
    height: auto;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.text-align{
    text-align: center;
}
reg-table2{
    width: 500px;
}
.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   margin: auto;
   line-height: 30px;
   margin-top: 6.25rem;
}

nav{
    width: 550px;
    margin-top: 1px;
    margin-right: 0;
}

.nav-links{
    font-size: 15px;
}


.divider {
    flex-direction: column;
    height: 80rem;
}

.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 23.125rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
}

.button{
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}


#news-form{
    margin-top: -2rem;
}
}
/* media tablet */
 
/* media phone */
@media(max-width: 767px){
footer {
    width: 100vw;
    height: auto;
    background-image: url("../img/bgwavesFooter.png");
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
table {
    padding-top: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-align{
    text-align: center;
}
.pc{
    display: none;
}
.tablet{
    display: none;
}
.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   line-height: 30px;
   margin-top: 0;
}

nav{
    display: none;
}

.article {
    background-color: white;
}

.mobile-btn {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 30px;
}


.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 23.125rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.divider {
    flex-direction: column;
    height: 80rem;
}
.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
}

.button{
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}
.fa-buns {
    display: block !important;
}

}
/* media phone */