.nav-service {
    background-color: rgb(88, 47, 215);
}

body{
    margin: auto;
}

@media(min-width:1440px){

.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   line-height: 30px;
   margin-top: 6.25rem;
}


.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    width: 80rem;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 23.125rem;
    margin-left: 2rem;
    text-align: center;
}

.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
}

.button{
    margin: auto;
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}
}

/* media tablet */
@media(min-width: 768px) and (max-width: 1439px){

.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   margin: auto;
   line-height: 30px;
   margin-top: 6.25rem;
}


.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 23.125rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
}

.button{
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}
}
/* media tablet */
 
/* media phone */
@media(max-width: 767px){

.header{
   font-size: 35px;
   text-transform: uppercase;
   color: #212222;
   font-weight: 700;
   font-family: "Poppins";
   text-align: center; 
   line-height: 30px;
   margin-top: 6.25rem;
}


.father{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.child{
    width: 23.125rem;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 23.125rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.img-analytics{
    margin-top: 4.375rem;
}

.analytics{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    line-height: 1rem;
}

.analytics-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.web-programming{
    margin-top: 4.688rem;
}

.development{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.development-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.promotion{
    margin-top: 4.375rem;
}

.marketing{
    font-size: 1.5rem;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.marketing-p{
    width: 18.75rem;
    height: 5.56rem;
    font-size: 1rem;
    line-height: 29px;
    color: #030201;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
}

.wrapper{
    text-align: center;
}

.button{
    margin-top: 2.5rem;
    width: 12.2rem;
    height: 3.5rem;
    border-radius: 6px;
    background-color: #582fd7;
    color: white;
    cursor:pointer;
    border: none;
}

.read-more{
    font-size: 1.1rem;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: auto;
}
}
/* media phone */